.h2button {
	font-size: 24px; 
	line-height: 27px;
	margin-bottom: 10px;
}

.h3button {
	font-size: 20px; 
	line-height: 20px;
}

h3.inline {
	font-size: 20px; 
	line-height: 20px;
	vertical-align: middle;
}

.size20 {
	font-size: 20px;
}

.bottom20 {
	margin-bottom: 20px;
}

.bottom10 {
	margin-bottom: 10px;
}

.question {
	display: inline;
	margin-left: 10px;
}

.inline {
	display: inline;
}

.displayblock {
	display: block;
}

.automargin {
	margin: 0 auto;
}

.center {
	text-align: center;
}